
.icon-invisible:before { content: '\e800'; } /* '' */
.icon-add-1:before { content: '\e801'; } /* '' */
.icon-add-2:before { content: '\e802'; } /* '' */
.icon-add:before { content: '\e803'; } /* '' */
.icon-anchor:before { content: '\e804'; } /* '' */
.icon-at:before { content: '\e805'; } /* '' */
.icon-bar-chart-1:before { content: '\e806'; } /* '' */
.icon-bar-chart:before { content: '\e807'; } /* '' */
.icon-battery:before { content: '\e808'; } /* '' */
.icon-bell-1:before { content: '\e809'; } /* '' */
.icon-bell:before { content: '\e80a'; } /* '' */
.icon-bluetooth:before { content: '\e80b'; } /* '' */
.icon-bookmark:before { content: '\e80c'; } /* '' */
.icon-briefcase:before { content: '\e80d'; } /* '' */
.icon-center-align:before { content: '\e80e'; } /* '' */
.icon-chat-1:before { content: '\e80f'; } /* '' */
.icon-chat:before { content: '\e810'; } /* '' */
.icon-check-1:before { content: '\e811'; } /* '' */
.icon-check-2:before { content: '\e812'; } /* '' */
.icon-check:before { content: '\e813'; } /* '' */
.icon-circle:before { content: '\e814'; } /* '' */
.icon-clock:before { content: '\e815'; } /* '' */
.icon-close-1:before { content: '\e816'; } /* '' */
.icon-close-2:before { content: '\e817'; } /* '' */
.icon-close:before { content: '\e818'; } /* '' */
.icon-cloud-computing-1:before { content: '\e819'; } /* '' */
.icon-cloud-computing:before { content: '\e81a'; } /* '' */
.icon-cloud:before { content: '\e81b'; } /* '' */
.icon-command:before { content: '\e81c'; } /* '' */
.icon-compact-disc:before { content: '\e81d'; } /* '' */
.icon-cpu:before { content: '\e81e'; } /* '' */
.icon-cube:before { content: '\e81f'; } /* '' */
.icon-delete:before { content: '\e820'; } /* '' */
.icon-dislike:before { content: '\e821'; } /* '' */
.icon-download-1:before { content: '\e822'; } /* '' */
.icon-download:before { content: '\e823'; } /* '' */
.icon-droplet:before { content: '\e824'; } /* '' */
.icon-edit:before { content: '\e825'; } /* '' */
.icon-email:before { content: '\e826'; } /* '' */
.icon-external:before { content: '\e827'; } /* '' */
.icon-facebook:before { content: '\e828'; } /* '' */
.icon-feather:before { content: '\e829'; } /* '' */
.icon-file:before { content: '\e82a'; } /* '' */
.icon-filter:before { content: '\e82b'; } /* '' */
.icon-flag:before { content: '\e82c'; } /* '' */
.icon-folder:before { content: '\e82d'; } /* '' */
.icon-grid:before { content: '\e82e'; } /* '' */
.icon-hash:before { content: '\e82f'; } /* '' */
.icon-headphones:before { content: '\e830'; } /* '' */
.icon-heart:before { content: '\e831'; } /* '' */
.icon-hide:before { content: '\e832'; } /* '' */
.icon-glass:before { content: '\e833'; } /* '' */
.icon-home:before { content: '\e834'; } /* '' */
.icon-inbox:before { content: '\e835'; } /* '' */
.icon-info:before { content: '\e836'; } /* '' */
.icon-instagram:before { content: '\e837'; } /* '' */
.icon-justify:before { content: '\e838'; } /* '' */
.icon-layers:before { content: '\e839'; } /* '' */
.icon-layout:before { content: '\e83a'; } /* '' */
.icon-left-alignment:before { content: '\e83b'; } /* '' */
.icon-left-arrow:before { content: '\e83c'; } /* '' */
.icon-lifebuoy:before { content: '\e83d'; } /* '' */
.icon-like:before { content: '\e83e'; } /* '' */
.icon-loading:before { content: '\e83f'; } /* '' */
.icon-map:before { content: '\e840'; } /* '' */
.icon-maximize-1:before { content: '\e841'; } /* '' */
.icon-maximize:before { content: '\e842'; } /* '' */
.icon-medal:before { content: '\e843'; } /* '' */
.icon-menu:before { content: '\e844'; } /* '' */
.icon-minimize-1:before { content: '\e845'; } /* '' */
.icon-minimize:before { content: '\e846'; } /* '' */
.icon-minus-1:before { content: '\e847'; } /* '' */
.icon-minus-2:before { content: '\e848'; } /* '' */
.icon-minus:before { content: '\e849'; } /* '' */
.icon-monitor-1:before { content: '\e84a'; } /* '' */
.icon-monitor:before { content: '\e84b'; } /* '' */
.icon-moon:before { content: '\e84c'; } /* '' */
.icon-move:before { content: '\e84d'; } /* '' */
.icon-musical-note:before { content: '\e84e'; } /* '' */
.icon-no-photo:before { content: '\e84f'; } /* '' */
.icon-octagon:before { content: '\e850'; } /* '' */
.icon-padlock:before { content: '\e851'; } /* '' */
.icon-pause:before { content: '\e852'; } /* '' */
.icon-phone-call-1:before { content: '\e853'; } /* '' */
.icon-phone-call-2:before { content: '\e854'; } /* '' */
.icon-phone-call-3:before { content: '\e855'; } /* '' */
.icon-phone-call-4:before { content: '\e856'; } /* '' */
.icon-phone-call-5:before { content: '\e857'; } /* '' */
.icon-phone-call-6:before { content: '\e858'; } /* '' */
.icon-phone-call:before { content: '\e859'; } /* '' */
.icon-photo-camera:before { content: '\e85a'; } /* '' */
.icon-pie-chart:before { content: '\e85b'; } /* '' */
.icon-placeholder:before { content: '\e85c'; } /* '' */
.icon-play:before { content: '\e85d'; } /* '' */
.icon-pocket:before { content: '\e85e'; } /* '' */
.icon-power-button:before { content: '\e85f'; } /* '' */
.icon-printer:before { content: '\e860'; } /* '' */
.icon-prohibition:before { content: '\e861'; } /* '' */
.icon-refresh-1:before { content: '\e862'; } /* '' */
.icon-refresh:before { content: '\e863'; } /* '' */
.icon-right-alignment:before { content: '\e864'; } /* '' */
.icon-right-arrow:before { content: '\e865'; } /* '' */
.icon-rotate-1:before { content: '\e866'; } /* '' */
.icon-rotate:before { content: '\e867'; } /* '' */
.icon-scissors:before { content: '\e868'; } /* '' */
.icon-search:before { content: '\e869'; } /* '' */
.icon-settings:before { content: '\e86a'; } /* '' */
.icon-share:before { content: '\e86b'; } /* '' */
.icon-shutter:before { content: '\e86c'; } /* '' */
.icon-sound-waves:before { content: '\e86d'; } /* '' */
.icon-square:before { content: '\e86e'; } /* '' */
.icon-star:before { content: '\e86f'; } /* '' */
.icon-sun:before { content: '\e870'; } /* '' */
.icon-sunrise:before { content: '\e871'; } /* '' */
.icon-sunset:before { content: '\e872'; } /* '' */
.icon-switch-1:before { content: '\e873'; } /* '' */
.icon-switch:before { content: '\e874'; } /* '' */
.icon-tag:before { content: '\e875'; } /* '' */
.icon-target:before { content: '\e876'; } /* '' */
.icon-telegram:before { content: '\e877'; } /* '' */
.icon-thermometer:before { content: '\e878'; } /* '' */
.icon-thunderbolt:before { content: '\e879'; } /* '' */
.icon-trash-1:before { content: '\e87a'; } /* '' */
.icon-trash:before { content: '\e87b'; } /* '' */
.icon-triangle:before { content: '\e87c'; } /* '' */
.icon-twitter:before { content: '\e87d'; } /* '' */
.icon-umbrella:before { content: '\e87e'; } /* '' */
.icon-unlock:before { content: '\e87f'; } /* '' */
.icon-upload-1:before { content: '\e880'; } /* '' */
.icon-upload-2:before { content: '\e881'; } /* '' */
.icon-upload:before { content: '\e882'; } /* '' */
.icon-user-1:before { content: '\e883'; } /* '' */
.icon-user-2:before { content: '\e884'; } /* '' */
.icon-user:before { content: '\e885'; } /* '' */
.icon-video-camera-1:before { content: '\e886'; } /* '' */
.icon-video-camera:before { content: '\e887'; } /* '' */
.icon-visualization:before { content: '\e888'; } /* '' */
.icon-vk:before { content: '\e889'; } /* '' */
.icon-voice-recording-1:before { content: '\e88a'; } /* '' */
.icon-voice-recording:before { content: '\e88b'; } /* '' */
.icon-warning-1:before { content: '\e88c'; } /* '' */
.icon-warning-2:before { content: '\e88d'; } /* '' */
.icon-warning:before { content: '\e88e'; } /* '' */
.icon-watch:before { content: '\e88f'; } /* '' */
.icon-wifi:before { content: '\e890'; } /* '' */
.icon-music:before { content: '\e891'; } /* '' */
.icon-wind:before { content: '\e892'; } /* '' */
.icon-youtube:before { content: '\e893'; } /* '' */
.icon-zoom-in:before { content: '\e894'; } /* '' */
.icon-zoom-out:before { content: '\e895'; } /* '' */
.icon-image:before { content: '\e896'; } /* '' */
.icon-search-1:before { content: '\e897'; } /* '' */
.icon-mail:before { content: '\e898'; } /* '' */
.icon-heart-1:before { content: '\e899'; } /* '' */
.icon-heart-empty:before { content: '\e89a'; } /* '' */
.icon-star-1:before { content: '\e89b'; } /* '' */
.icon-star-empty:before { content: '\e89c'; } /* '' */
.icon-star-half:before { content: '\e89d'; } /* '' */
.icon-user-3:before { content: '\e89e'; } /* '' */
.icon-users:before { content: '\e89f'; } /* '' */
.icon-video:before { content: '\e8a0'; } /* '' */
.icon-videocam:before { content: '\e8a1'; } /* '' */
.icon-picture:before { content: '\e8a2'; } /* '' */
.icon-camera:before { content: '\e8a3'; } /* '' */
.icon-camera-alt:before { content: '\e8a4'; } /* '' */
.icon-th-large:before { content: '\e8a5'; } /* '' */
.icon-th:before { content: '\e8a6'; } /* '' */
.icon-th-list:before { content: '\e8a7'; } /* '' */
.icon-ok:before { content: '\e8a8'; } /* '' */
.icon-ok-circled:before { content: '\e8a9'; } /* '' */
.icon-ok-circled2:before { content: '\e8aa'; } /* '' */
.icon-cancel:before { content: '\e8ab'; } /* '' */
.icon-cancel-circled:before { content: '\e8ac'; } /* '' */
.icon-cancel-circled2:before { content: '\e8ad'; } /* '' */
.icon-plus:before { content: '\e8ae'; } /* '' */
.icon-plus-circled:before { content: '\e8af'; } /* '' */
.icon-minus-3:before { content: '\e8b0'; } /* '' */
.icon-minus-circled:before { content: '\e8b1'; } /* '' */
.icon-help-circled:before { content: '\e8b2'; } /* '' */
.icon-info-circled:before { content: '\e8b3'; } /* '' */
.icon-home-1:before { content: '\e8b4'; } /* '' */
.icon-link:before { content: '\e8b5'; } /* '' */
.icon-attach:before { content: '\e8b6'; } /* '' */
.icon-lock:before { content: '\e8b7'; } /* '' */
.icon-lock-open:before { content: '\e8b8'; } /* '' */
.icon-pin:before { content: '\e8b9'; } /* '' */
.icon-eye:before { content: '\e8ba'; } /* '' */
.icon-eye-off:before { content: '\e8bb'; } /* '' */
.icon-tag-1:before { content: '\e8bc'; } /* '' */
.icon-tags:before { content: '\e8bd'; } /* '' */
.icon-bookmark-1:before { content: '\e8be'; } /* '' */
.icon-flag-1:before { content: '\e8bf'; } /* '' */
.icon-thumbs-up:before { content: '\e8c0'; } /* '' */
.icon-thumbs-down:before { content: '\e8c1'; } /* '' */
.icon-download-2:before { content: '\e8c2'; } /* '' */
.icon-upload-3:before { content: '\e8c3'; } /* '' */
.icon-forward:before { content: '\e8c4'; } /* '' */
.icon-export:before { content: '\e8c5'; } /* '' */
.icon-pencil:before { content: '\e8c6'; } /* '' */
.icon-edit-1:before { content: '\e8c7'; } /* '' */
.icon-print:before { content: '\e8c8'; } /* '' */
.icon-retweet:before { content: '\e8c9'; } /* '' */
.icon-comment:before { content: '\e8ca'; } /* '' */
.icon-chat-2:before { content: '\e8cb'; } /* '' */
.icon-bell-2:before { content: '\e8cc'; } /* '' */
.icon-attention-circled:before { content: '\e8cd'; } /* '' */
.icon-location:before { content: '\e8ce'; } /* '' */
.icon-cloud-1:before { content: '\e8cf'; } /* '' */
.icon-flash:before { content: '\e8d0'; } /* '' */
.icon-umbrella-1:before { content: '\e8d1'; } /* '' */
.icon-flight:before { content: '\e8d2'; } /* '' */
.icon-doc:before { content: '\e8d3'; } /* '' */
.icon-clock-1:before { content: '\e8d4'; } /* '' */
.icon-worldwide:before { content: '\e8d5'; } /* '' */
.icon-visible:before { content: '\e8d6'; } /* '' */
.icon-trash-empty:before { content: '\e8d7'; } /* '' */
.icon-attention:before { content: '\e8d8'; } /* '' */
.icon-folder-1:before { content: '\e8d9'; } /* '' */
.icon-folder-open:before { content: '\e8da'; } /* '' */
.icon-phone:before { content: '\e8db'; } /* '' */
.icon-cog:before { content: '\e8dc'; } /* '' */
.icon-cog-alt:before { content: '\e8dd'; } /* '' */
.icon-wrench:before { content: '\e8de'; } /* '' */
.icon-basket:before { content: '\e8df'; } /* '' */
.icon-calendar:before { content: '\e8e0'; } /* '' */
.icon-login:before { content: '\e8e1'; } /* '' */
.icon-logout:before { content: '\e8e2'; } /* '' */
.icon-volume-off:before { content: '\e8e3'; } /* '' */
.icon-volume-down:before { content: '\e8e4'; } /* '' */
.icon-volume-up:before { content: '\e8e5'; } /* '' */
.icon-headphones-1:before { content: '\e8e6'; } /* '' */
.icon-share-2:before { content: '\e8e7'; } /* '' */
.icon-clock-2:before { content: '\e8e8'; } /* '' */
.icon-block:before { content: '\e8e9'; } /* '' */
.icon-resize-full:before { content: '\e8ea'; } /* '' */
.icon-resize-small:before { content: '\e8eb'; } /* '' */
.icon-resize-vertical:before { content: '\e8ec'; } /* '' */
.icon-resize-horizontal:before { content: '\e8ed'; } /* '' */
.icon-zoom-in-1:before { content: '\e8ef'; } /* '' */
.icon-user-4:before { content: '\e8f0'; } /* '' */
.icon-users-1:before { content: '\e8f1'; } /* '' */
.icon-thumbs-up-1:before { content: '\e8f2'; } /* '' */
.icon-thumbs-down-1:before { content: '\e8f3'; } /* '' */
.icon-at-1:before { content: '\e8f4'; } /* '' */
.icon-zoom-out-1:before { content: '\e8f5'; } /* '' */
.icon-down:before { content: '\e8f6'; } /* '' */
.icon-left:before { content: '\e8f7'; } /* '' */
.icon-right:before { content: '\e8f8'; } /* '' */
.icon-up:before { content: '\e8f9'; } /* '' */
.icon-left-open-mini:before { content: '\e8fa'; } /* '' */
.icon-right-open-mini:before { content: '\e8fb'; } /* '' */
.icon-up-open-mini:before { content: '\e8fc'; } /* '' */
.icon-down-open-big:before { content: '\e8fd'; } /* '' */
.icon-left-open-big:before { content: '\e8fe'; } /* '' */
.icon-right-open-big:before { content: '\e8ff'; } /* '' */
.icon-up-open-big:before { content: '\e900'; } /* '' */
.icon-resize-small-1:before { content: '\e901'; } /* '' */
.icon-resize-full-1:before { content: '\e902'; } /* '' */
.icon-down-open-1:before { content: '\e903'; } /* '' */
.icon-left-open-1:before { content: '\e904'; } /* '' */
.icon-right-open-1:before { content: '\e905'; } /* '' */
.icon-up-open-1:before { content: '\e906'; } /* '' */
.icon-down-open-mini:before { content: '\e907'; } /* '' */
.icon-down-dir:before { content: '\e908'; } /* '' */
.icon-up-dir:before { content: '\e909'; } /* '' */
.icon-left-dir:before { content: '\e90a'; } /* '' */
.icon-right-dir:before { content: '\e90b'; } /* '' */
.icon-down-open-2:before { content: '\e90c'; } /* '' */
.icon-left-open-2:before { content: '\e90d'; } /* '' */
.icon-right-open-2:before { content: '\e90e'; } /* '' */
.icon-up-open-2:before { content: '\e90f'; } /* '' */
.icon-down-big:before { content: '\e910'; } /* '' */
.icon-left-big:before { content: '\e911'; } /* '' */
.icon-right-big:before { content: '\e912'; } /* '' */
.icon-up-big:before { content: '\e913'; } /* '' */
.icon-cw:before { content: '\e914'; } /* '' */
.icon-ccw:before { content: '\e915'; } /* '' */
.icon-arrows-cw:before { content: '\e916'; } /* '' */
.icon-shuffle:before { content: '\e917'; } /* '' */
.icon-award:before { content: '\e918'; } /* '' */
.icon-check-3:before { content: '\e919'; } /* '' */
.icon-gift:before { content: '\e91a'; } /* '' */
.icon-accessibility:before { content: '\e924'; } /* '' */
.icon-guidedog:before { content: '\e925'; } /* '' */
.icon-blind:before { content: '\e926'; } /* '' */
.icon-person:before { content: '\e927'; } /* '' */
.icon-hearing-impaired:before { content: '\e928'; } /* '' */
.icon-glasses:before { content: '\e929'; } /* '' */
.icon-down-open:before { content: '\f004'; } /* '' */
.icon-up-open:before { content: '\f005'; } /* '' */
.icon-right-open:before { content: '\f006'; } /* '' */
.icon-left-open:before { content: '\f007'; } /* '' */
.icon-move-1:before { content: '\f047'; } /* '' */
.icon-user-6:before { content: '\f061'; } /* '' */
.icon-user-male:before { content: '\f062'; } /* '' */
.icon-user-female:before { content: '\f063'; } /* '' */
.icon-users-2:before { content: '\f064'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-twitter-1:before { content: '\f099'; } /* '' */
.icon-facebook-1:before { content: '\f09a'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-resize-full-alt:before { content: '\f0b2'; } /* '' */
.icon-menu-1:before { content: '\f0c9'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-tablet:before { content: '\f10a'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-circle-1:before { content: '\f111'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-smile:before { content: '\f118'; } /* '' */
.icon-frown:before { content: '\f119'; } /* '' */
.icon-meh:before { content: '\f11a'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-keyboard:before { content: '\f11c'; } /* '' */
.icon-flag-empty:before { content: '\f11d'; } /* '' */
.icon-flag-checkered:before { content: '\f11e'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-reply-all:before { content: '\f122'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-unlink:before { content: '\f127'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-info-1:before { content: '\f129'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */
.icon-mic:before { content: '\f130'; } /* '' */
.icon-mute:before { content: '\f131'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-rss-squared:before { content: '\f143'; } /* '' */
.icon-minus-squared:before { content: '\f146'; } /* '' */
.icon-minus-squared-alt:before { content: '\f147'; } /* '' */
.icon-level-up:before { content: '\f148'; } /* '' */
.icon-level-down:before { content: '\f149'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-pencil-squared:before { content: '\f14b'; } /* '' */
.icon-link-ext-alt:before { content: '\f14c'; } /* '' */
.icon-export-alt:before { content: '\f14d'; } /* '' */
.icon-compass:before { content: '\f14e'; } /* '' */
.icon-euro:before { content: '\f153'; } /* '' */
.icon-pound:before { content: '\f154'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-rupee:before { content: '\f156'; } /* '' */
.icon-yen:before { content: '\f157'; } /* '' */
.icon-rouble:before { content: '\f158'; } /* '' */
.icon-won:before { content: '\f159'; } /* '' */
.icon-bitcoin:before { content: '\f15a'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-youtube-2:before { content: '\f167'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram-1:before { content: '\f16d'; } /* '' */
.icon-down-1:before { content: '\f175'; } /* '' */
.icon-up-1:before { content: '\f176'; } /* '' */
.icon-left-1:before { content: '\f177'; } /* '' */
.icon-right-1:before { content: '\f178'; } /* '' */
.icon-female:before { content: '\f182'; } /* '' */
.icon-male:before { content: '\f183'; } /* '' */
.icon-sun-1:before { content: '\f185'; } /* '' */
.icon-moon-1:before { content: '\f186'; } /* '' */
.icon-box:before { content: '\f187'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-dot-circled:before { content: '\f192'; } /* '' */
.icon-try:before { content: '\f195'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-mail-squared:before { content: '\f199'; } /* '' */
.icon-child:before { content: '\f1ae'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-file-word:before { content: '\f1c2'; } /* '' */
.icon-file-excel:before { content: '\f1c3'; } /* '' */
.icon-file-powerpoint:before { content: '\f1c4'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */
.icon-file-archive:before { content: '\f1c6'; } /* '' */
.icon-file-audio:before { content: '\f1c7'; } /* '' */
.icon-file-video:before { content: '\f1c8'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-circle-notch:before { content: '\f1ce'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-circle-thin:before { content: '\f1db'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-share-1:before { content: '\f1e0'; } /* '' */
.icon-share-squared:before { content: '\f1e1'; } /* '' */
.icon-wifi-1:before { content: '\f1eb'; } /* '' */
.icon-paypal:before { content: '\f1ed'; } /* '' */
.icon-cc-visa:before { content: '\f1f0'; } /* '' */
.icon-cc-mastercard:before { content: '\f1f1'; } /* '' */
.icon-cc-discover:before { content: '\f1f2'; } /* '' */
.icon-cc-amex:before { content: '\f1f3'; } /* '' */
.icon-cc-paypal:before { content: '\f1f4'; } /* '' */
.icon-cc-stripe:before { content: '\f1f5'; } /* '' */
.icon-bell-off:before { content: '\f1f6'; } /* '' */
.icon-bell-off-empty:before { content: '\f1f7'; } /* '' */
.icon-trash-2:before { content: '\f1f8'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-cart-plus:before { content: '\f217'; } /* '' */
.icon-cart-arrow-down:before { content: '\f218'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-tripadvisor:before { content: '\f262'; } /* '' */
.icon-odnoklassniki:before { content: '\f263'; } /* '' */
.icon-calendar-plus-o:before { content: '\f271'; } /* '' */
.icon-calendar-minus-o:before { content: '\f272'; } /* '' */
.icon-calendar-times-o:before { content: '\f273'; } /* '' */
.icon-calendar-check-o:before { content: '\f274'; } /* '' */
.icon-commenting:before { content: '\f27a'; } /* '' */
.icon-commenting-o:before { content: '\f27b'; } /* '' */
.icon-product-hunt:before { content: '\f288'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */
.icon-envelope-open-o:before { content: '\f2b7'; } /* '' */
.icon-snowflake-o:before { content: '\f2dc'; } /* '' */
.icon-yandex:before { content: '\f305'; } /* '' */